In [3]:
import pandas as pd

dates = ['2017-01-05 2:30:00pm', 'Jan 5, 2017 14:30:00', '01/05/2017', '2017.01.05', '2017/01/05', '20170105']

In [4]:
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [10]:
pd.to_datetime('5$1$2017', format='%d$%m$%Y')

Timestamp('2017-01-05 00:00:00')

In [15]:
dates2 = ['2017-01-05 2:30:00pm', 'Jan 5, 2017 14:30:00', '01/05/2017', '2017.01.05', '2017/01/05', 'abc']
pd.to_datetime(dates2, errors = 'coerce')

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00',                 'NaT'],
              dtype='datetime64[ns]', freq=None)

In [18]:
t = 1501356749
pd.to_datetime(t, unit = 's')

Timestamp('2017-07-29 19:32:29')