In [3]:
import pandas as pd

y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [4]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [5]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [11]:
m = pd.Period('2011-2','M')

In [12]:
m.start_time

Timestamp('2011-02-01 00:00:00')

In [13]:
m.end_time

Timestamp('2011-02-28 23:59:59.999999999')

In [14]:
m+1

Period('2011-03', 'M')

In [20]:
d = pd.Period('2016-02-28')
d

Period('2016-02-28', 'D')

In [21]:
d+1

Period('2016-02-29', 'D')

In [22]:
h = pd.Period('2016-02-28 23:00:00', freq = 'H')
h

Period('2016-02-28 23:00', 'H')

In [23]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [24]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [27]:
h-6

Period('2016-02-28 17:00', 'H')

In [28]:
h+pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'H')

In [31]:
q = pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [33]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [35]:
q.asfreq('M', how="end")

Period('2016-04', 'M')

In [37]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [38]:
q2-q

5

In [42]:
idx = pd.period_range('2011',periods=10, freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [43]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [44]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [47]:
import numpy as np

In [48]:
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q1   -0.886841
2011Q2   -1.235947
2011Q3    0.363905
2011Q4   -0.602905
2012Q1   -0.664210
2012Q2    0.946908
2012Q3   -1.802436
2012Q4   -1.614639
2013Q1    1.058753
2013Q2    0.324212
Freq: Q-DEC, dtype: float64

In [49]:
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [51]:
ps['2011':'2013']

2011Q1   -0.886841
2011Q2   -1.235947
2011Q3    0.363905
2011Q4   -0.602905
2012Q1   -0.664210
2012Q2    0.946908
2012Q3   -1.802436
2012Q4   -1.614639
2013Q1    1.058753
2013Q2    0.324212
Freq: Q-DEC, dtype: float64

In [52]:
pst = ps.to_timestamp()

In [53]:
pst

2011-01-01   -0.886841
2011-04-01   -1.235947
2011-07-01    0.363905
2011-10-01   -0.602905
2012-01-01   -0.664210
2012-04-01    0.946908
2012-07-01   -1.802436
2012-10-01   -1.614639
2013-01-01    1.058753
2013-04-01    0.324212
Freq: QS-OCT, dtype: float64

In [54]:
pst.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [55]:
pst.to_period()

2011Q1   -0.886841
2011Q2   -1.235947
2011Q3    0.363905
2011Q4   -0.602905
2012Q1   -0.664210
2012Q2    0.946908
2012Q3   -1.802436
2012Q4   -1.614639
2013Q1    1.058753
2013Q2    0.324212
Freq: Q-DEC, dtype: float64

In [56]:
df = pd.read_csv('wmt.csv')

In [57]:
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [58]:
df.set_index('Line Item', inplace=True)

In [59]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [60]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [62]:
df.index = pd.PeriodIndex(df.index, freq = 'Q-JAN')

In [63]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [66]:
df['start date']= df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [67]:
df['end date']= df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date   end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30