# Imports

In [1]:
import pandas as pd
import numpy as np

# Tutorial 02 - Read Files and basic operations

Read

In [ ]:
df = pd.read_csv("weather_data_02.csv")
df

List Columns

In [ ]:
df.columns

Numer of columns

In [ ]:
rows, columns = df.shape
columns

Print some rows

In [ ]:
df.head(2)

Print last rows

In [ ]:
df.tail(1)

Print interval

In [ ]:
df[2:5]

In [ ]:
df.day

In [ ]:
df.temperature

In [ ]:
df['event']

In [ ]:
type(df['event'])

In [ ]:
df[['event', 'day','temperature']]

In [ ]:
df['temperature'].min()

In [ ]:
df.describe()

In [ ]:
df[df.temperature>=32]

In [ ]:
df[df.temperature==df['temperature'].max()]

In [ ]:
df.index

In [ ]:
df.set_index('day', inplace = True)

In [ ]:
df.reset_index(inplace = True)
df

In [ ]:
df.set_index('event', inplace=True)
df

In [ ]:
df.loc['Snow']

# Tutorial 03 - Read Excel and create data Frame In Memory

In [ ]:
df = pd.read_csv("weather_data03.csv")
df

In [ ]:
df = pd.read_excel("weather_data03.xlsx", "Sheet1")
df

In [ ]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain','Sunny','Snow']
}

In [ ]:
df = pd.DataFrame(weather_data)
df

In [ ]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

In [ ]:
df = pd.DataFrame(weather_data, columns = ["day","temperature","windspeed","event"])
df

In [ ]:
weather_data = [
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temperature':28,'windspeed':2,'event':'Snow'}
]
df = pd.DataFrame(weather_data)

In [ ]:
df

# Tutorial 04 - Writes Files

In [ ]:
df = pd.read_csv("stock_data04.csv", na_values = {
    'eps':["not available", "n.a."],
    'revenue': ["not available", "n.a.", -1],
    'people': ["not available", "n.a."]
})
df

In [ ]:
df.columns

In [ ]:
df.to_csv('new.csv', columns=['tickers', 'eps'])

In [ ]:
def convert_peolpe_cell(cell):
    if cell == "n.a.":
        return 'sam walton'
    return cell

def convert_eps_cell(cell):
    if cell == "not available":
        return None
    return cell

In [ ]:
df = pd.read_excel("stock_data04.xlsx", "Sheet1", converters= {
        'people': convert_peolpe_cell,
        'eps': convert_eps_cell
    })

In [ ]:
df

In [ ]:
df.to_excel("new.xlsx", sheet_name = 'stocks', startrow=1)

In [ ]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845,65,64],
    'pe':[30.37,14.26,30.97],
    'eps': [27.82,4.61,2.12]
})

df_weather = pd.DataFrame({
    'day': ['1/1/2017','1/1/2017','1/1/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [ ]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name = "stocks")
    df_weather.to_excel(writer, sheet_name = "weather")

# Tutorial 05 - Missing Data

In [ ]:
df = pd.read_csv('weather_data05.csv', parse_dates=["day"])

In [ ]:
type(df.day[0])

In [ ]:
df.set_index('day', inplace=True)

In [ ]:
new_df = df.fillna(0)

In [ ]:
new_df

In [ ]:
new_df = df.fillna({
    'temperature': 0,
    'windspeeed':0,
    'event': 'no event'
})

In [ ]:
new_df

In [ ]:
new_df = df.fillna(method="ffill", limit=1)

In [ ]:
new_df

In [ ]:
new_df = df.interpolate()

In [ ]:
new_df

In [ ]:
new_df = df.dropna(thresh=2)
new_df

In [ ]:
dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
df.reindex(idx)

# Tutorial 06 - Handle Missing Data

In [ ]:
df = pd.read_csv('weather_data06.csv')

In [ ]:
new_df = df.replace({
            'temperature': -99999,
            'windspeed': -99999,
            'event': '0'
}, np.NaN)

In [ ]:
df = pd.DataFrame({
    'score': ['exceptional', 'average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julia', 'erica']
})

In [ ]:
df.replace(['poor', 'average', 'good', 'exceptional'],[1,2,3,4])

# Tutorial 07 - Group By

In [ ]:
df = pd.read_csv('weather_by_cities07.csv')

# Tutorial 08 - Concat Dataframes

In [ ]:
india_weather = pd.DataFrame({
                              "city":["mumbai", "delhi", "banglore"],
                              "temperature":[32,45,30],
                              "humidity": [80,60,78]
                            })

In [ ]:
india_weather

In [ ]:
us_weather = pd.DataFrame({
                              "city":["new york", "chicago", "orlando"],
                              "temperature":[21,14,35],
                              "humidity": [68,65,75]
                            })

In [ ]:
us_weather

In [ ]:
pd.concat([india_weather, us_weather])

In [ ]:
pd.concat([india_weather, us_weather], ignore_index = True)

In [ ]:
pd.concat([india_weather, us_weather], keys=["india", "us"])

In [ ]:
df=pd.concat([india_weather, us_weather], keys=["india", "us"])
df.loc["us"]

In [ ]:
temperature_df = pd.DataFrame({
    "city":["mumbai", "delhi", "bangalore"],
    "temperature": [32,45,30],
}, index=[0,1,2])

In [ ]:
temperature_df

In [ ]:
windspeed_df = pd.DataFrame({
    "city":["delhi", "mumbai"],
    "temperature": [7,12]
}, index=[1,0])
windspeed_df

In [ ]:
pd.concat([temperature_df, windspeed_df], axis = 1)

In [ ]:
temperature_df

In [ ]:
s = pd.Series(["Humid", "Dry", "Rain"],name="event")

In [ ]:
s

In [ ]:
pd.concat([temperature_df,s], axis=1)

# Tutorial 09 - Merge

In [ ]:
df1 = pd.DataFrame({
    "city": ["new york", "chicago", "orlando", "baltimore"],
    "tempertaure": [21,14,35, 32],
})
df1

In [ ]:
df2 = pd.DataFrame({
    "city":["chicago", "new york", "san francisco"],
    "humidity": [65,68,71], 
})
df2

In [ ]:
df3 = pd.merge(df1, df2, on = "city", how = "outer", indicator=True)

In [ ]:
df1 = pd.DataFrame({
    "city": ["new york", "chicago", "orlando", "baltimore"],
    "tempertaure": [21,14,35,32],
    "humidity":[65,68,71,75]
})

In [ ]:
df2 = pd.DataFrame({
    "city": ["chicago", "new york", "san diego"],
    "tempertaure": [21,14,35],
    "humidity":[65,68,71]
})

In [ ]:
df3 = pd.merge(df1, df2, on="city", suffixes=('_left', '_right'))

# Tutorial 10 - Pivot/Unpivot

In [ ]:
df = pd.read_csv('weather10.csv')
df

In [ ]:
df.pivot(index= "date", columns = "city", values = "humidity")

In [ ]:
df.pivot(index = "humidity", columns ="city")

In [ ]:
df = pd.read_csv("weather10-2.csv")
df

In [ ]:
df.pivot_table(index="city", columns="date", aggfunc="sum", margins=True)

In [ ]:
df = pd.read_csv("weather10-3.csv")
df

In [ ]:
df['date']=pd.to_datetime(df['date'])

In [ ]:
df.pivot_table(index=pd.Grouper(freq = 'M', key ='date'), columns = 'city')

# Tutorial 11 - Using Melt

In [ ]:
df = pd.read_csv('weather11.csv')
df

In [ ]:
df1 = pd.melt(df, id_vars=["day"],var_name="city", value_name="temperature")
df1

# Tutorial 12 - Stack/Unstack

In [ ]:
df = pd.read_excel("stocks12.xlsx", header=[0,1])
df

In [ ]:
df_stacked = df.stack(level=0)
df_stacked

In [ ]:
df_stacked.unstack()

In [ ]:
df2 = pd.read_excel("stocks_3_levels12.xlsx", header = [0,1,2])
df2

In [ ]:
df2.stack(level=0)

# Tutorial 13 - Crosstab

In [ ]:
df = pd.read_excel("survey13.xls")
df

In [ ]:
pd.crosstab([df.Sex, df.Nationality],df.Handedness, margins=True)

In [ ]:
pd.crosstab([df.Sex],df.Handedness, margins = True)

In [ ]:
pd.crosstab([df.Sex],df.Handedness, normalize='index')

In [ ]:
pd.crosstab([df.Sex],df.Handedness, values = df.Age, aggfunc = np.average)

# Tutorial 14 - Datetime Index

In [ ]:
df = pd.read_csv("aapl.csv")
df.head(5)

In [ ]:
type(df.Date[0])

In [ ]:
df = pd.read_csv("aapl.csv", parse_dates=["Date"])

In [ ]:
df.head(5)

In [ ]:
type(df.Date[0])

In [ ]:
df = pd.read_csv("aapl.csv", parse_dates=["Date"], index_col = "Date")

In [ ]:
df.index

In [ ]:
df["2017-01-07":"2017-01-01"]

In [ ]:
%matplotlib inline
df.Close.resample('Q').mean().plot()

In [ ]:
df.Close.plot()

# Tutorial 15 - Data Range

In [ ]:
df = pd.read_csv("aapl_no_dates15.csv")
df.head()

In [ ]:
rng = pd.date_range(start="6/1/2017", end ="6/30/2017", freq='B')

In [ ]:
df.set_index(rng, inplace=True)
df

In [ ]:
%matplotlib inline
df.Close.plot()

In [ ]:
df["2017-06-01":"2017-06-10"].Close.mean()

In [ ]:
df.asfreq('D',method='pad')

In [ ]:
df.asfreq('H',method='pad')

In [ ]:
rng = pd.date_range(start="1/1/2017",periods=72,freq="B")
rng

In [ ]:
ts = pd.Series(np.random.randint(1,10,len(rng)), index=rng)
ts.head(10)

# Tutorial 16 - Holiday

In [2]:
df = pd.read_csv("aapl_no_dates17.csv")
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [3]:
pd.date_range(start="7/1/2017", end="7/21/2017", freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [4]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [5]:
usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [6]:
rng = pd.date_range(start="7/1/2017", end="7/21/2017", freq=usb)

In [7]:
df.set_index(rng, inplace=True)
df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

In [8]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday


class myBirthDayCalendar(AbstractHolidayCalendar):
    """
    my calendar
    """
    rules = [
        Holiday('Joaco"s birthday', month=7, day=4)
    ]

In [9]:
myc = CustomBusinessDay(calendar=myBirthDayCalendar())
myc

In [10]:
pd.date_range(start="7/1/2016", end="7/10/2016", freq=myc)

DatetimeIndex(['2016-07-01', '2016-07-05', '2016-07-06', '2016-07-07',
               '2016-07-08'],
              dtype='datetime64[ns]', freq='C')

In [11]:
b = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')
pd.date_range(start="4/1/2017", end="4/30/2017", freq=b)

DatetimeIndex(['2017-04-02', '2017-04-03', '2017-04-04', '2017-04-05',
               '2017-04-06', '2017-04-09', '2017-04-10', '2017-04-11',
               '2017-04-12', '2017-04-13', '2017-04-16', '2017-04-17',
               '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-23',
               '2017-04-24', '2017-04-25', '2017-04-26', '2017-04-27',
               '2017-04-30'],
              dtype='datetime64[ns]', freq='C')

# Tutorial 17 - To Holiday

In [12]:
dates = ['2017-01-05 2:30:00pm', 'Jan 5, 2017 14:30:00', '01/05/2017', '2017.01.05', '2017/01/05', '20170105']

In [13]:
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [14]:
pd.to_datetime('5$1$2017', format='%d$%m$%Y')

Timestamp('2017-01-05 00:00:00')

In [15]:
dates2 = ['2017-01-05 2:30:00pm', 'Jan 5, 2017 14:30:00', '01/05/2017', '2017.01.05', '2017/01/05', 'abc']
pd.to_datetime(dates2, errors = 'coerce')

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00',                 'NaT'],
              dtype='datetime64[ns]', freq=None)

In [16]:
t = 1501356749
pd.to_datetime(t, unit = 's')

Timestamp('2017-07-29 19:32:29')

# Tutorial 18 - Time Period

In [17]:
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [18]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [19]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [20]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [21]:
m = pd.Period('2011-2','M')

In [22]:
m.start_time

Timestamp('2011-02-01 00:00:00')

In [23]:
m.end_time

Timestamp('2011-02-28 23:59:59.999999999')

In [24]:
m+1

Period('2011-03', 'M')

In [25]:
d = pd.Period('2016-02-28')
d

Period('2016-02-28', 'D')

In [26]:
d+1

Period('2016-02-29', 'D')

In [27]:
h = pd.Period('2016-02-28 23:00:00', freq = 'H')
h

Period('2016-02-28 23:00', 'H')

In [28]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [29]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [30]:
h-6

Period('2016-02-28 17:00', 'H')

In [31]:
h+pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'H')

In [32]:
q = pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [33]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [34]:
q.asfreq('M', how="end")

Period('2016-04', 'M')

In [35]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [36]:
q2-q

In [37]:
idx = pd.period_range('2011',periods=10, freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [38]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [39]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [40]:
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q1    0.491289
2011Q2   -1.094306
2011Q3    0.469587
2011Q4   -0.751769
2012Q1   -0.773792
2012Q2    0.005669
2012Q3   -0.480410
2012Q4    2.587850
2013Q1   -0.661897
2013Q2   -0.311531
Freq: Q-DEC, dtype: float64

In [41]:
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [42]:
ps['2011':'2013']

2011Q1    0.491289
2011Q2   -1.094306
2011Q3    0.469587
2011Q4   -0.751769
2012Q1   -0.773792
2012Q2    0.005669
2012Q3   -0.480410
2012Q4    2.587850
2013Q1   -0.661897
2013Q2   -0.311531
Freq: Q-DEC, dtype: float64

In [43]:
pst = ps.to_timestamp()

In [44]:
pst

2011-01-01    0.491289
2011-04-01   -1.094306
2011-07-01    0.469587
2011-10-01   -0.751769
2012-01-01   -0.773792
2012-04-01    0.005669
2012-07-01   -0.480410
2012-10-01    2.587850
2013-01-01   -0.661897
2013-04-01   -0.311531
Freq: QS-OCT, dtype: float64

In [45]:
pst.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [46]:
pst.to_period()

2011Q1    0.491289
2011Q2   -1.094306
2011Q3    0.469587
2011Q4   -0.751769
2012Q1   -0.773792
2012Q2    0.005669
2012Q3   -0.480410
2012Q4    2.587850
2013Q1   -0.661897
2013Q2   -0.311531
Freq: Q-DEC, dtype: float64

In [47]:
df = pd.read_csv('wmt18.csv')

In [48]:
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [49]:
df.set_index('Line Item', inplace=True)

In [50]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [51]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [52]:
df.index = pd.PeriodIndex(df.index, freq = 'Q-JAN')

In [53]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [54]:
df['start date']= df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [55]:
df['end date']= df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999

# Tutorial 19 - TImezone

In [56]:
df = pd.read_csv("msft19.csv", header=1, index_col='Date Time', parse_dates=True)
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50

In [57]:
df.index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [58]:
df = df.tz_localize(tz='US/Eastern')
df.index

DatetimeIndex(['2017-08-17 09:00:00-04:00', '2017-08-17 09:15:00-04:00',
               '2017-08-17 09:30:00-04:00', '2017-08-17 10:00:00-04:00',
               '2017-08-17 10:30:00-04:00', '2017-08-17 11:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', name='Date Time', freq=None)

In [59]:
df = df.tz_convert(tz='Europe/Berlin')
df

                           Price
Date Time
2017-08-17 15:00:00+02:00  72.38
2017-08-17 15:15:00+02:00  71.00
2017-08-17 15:30:00+02:00  71.67
2017-08-17 16:00:00+02:00  72.80
2017-08-17 16:30:00+02:00  73.00
2017-08-17 17:00:00+02:00  72.50

In [60]:
from pytz import all_timezones
all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [61]:
df = df.tz_convert(tz='Asia/Calcutta')
df

                           Price
Date Time
2017-08-17 18:30:00+05:30  72.38
2017-08-17 18:45:00+05:30  71.00
2017-08-17 19:00:00+05:30  71.67
2017-08-17 19:30:00+05:30  72.80
2017-08-17 20:00:00+05:30  73.00
2017-08-17 20:30:00+05:30  72.50

In [62]:
df.index = df.index.tz_convert(tz='Asia/Calcutta')
df

                           Price
Date Time
2017-08-17 18:30:00+05:30  72.38
2017-08-17 18:45:00+05:30  71.00
2017-08-17 19:00:00+05:30  71.67
2017-08-17 19:30:00+05:30  72.80
2017-08-17 20:00:00+05:30  73.00
2017-08-17 20:30:00+05:30  72.50

In [63]:
rng = pd.date_range(start="1/1/2017",periods=10, freq='H', tz = 'dateutil/Europe/London')
rng

DatetimeIndex(['2017-01-01 00:00:00+00:00', '2017-01-01 01:00:00+00:00',
               '2017-01-01 02:00:00+00:00', '2017-01-01 03:00:00+00:00',
               '2017-01-01 04:00:00+00:00', '2017-01-01 05:00:00+00:00',
               '2017-01-01 06:00:00+00:00', '2017-01-01 07:00:00+00:00',
               '2017-01-01 08:00:00+00:00', '2017-01-01 09:00:00+00:00'],
              dtype='datetime64[ns, tzfile('GB-Eire')]', freq='H')

In [64]:
rng = pd.date_range(start="2017-08-22 09:00:00", periods=10, freq='30min')
s = pd.Series(range(10), index = rng)
s

2017-08-22 09:00:00    0
2017-08-22 09:30:00    1
2017-08-22 10:00:00    2
2017-08-22 10:30:00    3
2017-08-22 11:00:00    4
2017-08-22 11:30:00    5
2017-08-22 12:00:00    6
2017-08-22 12:30:00    7
2017-08-22 13:00:00    8
2017-08-22 13:30:00    9
Freq: 30T, dtype: int64

In [65]:
b = s.tz_localize(tz='Europe/Berlin')
b

2017-08-22 09:00:00+02:00    0
2017-08-22 09:30:00+02:00    1
2017-08-22 10:00:00+02:00    2
2017-08-22 10:30:00+02:00    3
2017-08-22 11:00:00+02:00    4
2017-08-22 11:30:00+02:00    5
2017-08-22 12:00:00+02:00    6
2017-08-22 12:30:00+02:00    7
2017-08-22 13:00:00+02:00    8
2017-08-22 13:30:00+02:00    9
Freq: 30T, dtype: int64

In [66]:
b.index

DatetimeIndex(['2017-08-22 09:00:00+02:00', '2017-08-22 09:30:00+02:00',
               '2017-08-22 10:00:00+02:00', '2017-08-22 10:30:00+02:00',
               '2017-08-22 11:00:00+02:00', '2017-08-22 11:30:00+02:00',
               '2017-08-22 12:00:00+02:00', '2017-08-22 12:30:00+02:00',
               '2017-08-22 13:00:00+02:00', '2017-08-22 13:30:00+02:00'],
              dtype='datetime64[ns, Europe/Berlin]', freq='30T')

In [67]:
m = s.tz_localize(tz='Asia/Calcutta')
m

2017-08-22 09:00:00+05:30    0
2017-08-22 09:30:00+05:30    1
2017-08-22 10:00:00+05:30    2
2017-08-22 10:30:00+05:30    3
2017-08-22 11:00:00+05:30    4
2017-08-22 11:30:00+05:30    5
2017-08-22 12:00:00+05:30    6
2017-08-22 12:30:00+05:30    7
2017-08-22 13:00:00+05:30    8
2017-08-22 13:30:00+05:30    9
Freq: 30T, dtype: int64

In [68]:
b +  m

2017-08-22 03:30:00+00:00     NaN
2017-08-22 04:00:00+00:00     NaN
2017-08-22 04:30:00+00:00     NaN
2017-08-22 05:00:00+00:00     NaN
2017-08-22 05:30:00+00:00     NaN
2017-08-22 06:00:00+00:00     NaN
2017-08-22 06:30:00+00:00     NaN
2017-08-22 07:00:00+00:00     7.0
2017-08-22 07:30:00+00:00     9.0
2017-08-22 08:00:00+00:00    11.0
2017-08-22 08:30:00+00:00     NaN
2017-08-22 09:00:00+00:00     NaN
2017-08-22 09:30:00+00:00     NaN
2017-08-22 10:00:00+00:00     NaN
2017-08-22 10:30:00+00:00     NaN
2017-08-22 11:00:00+00:00     NaN
2017-08-22 11:30:00+00:00     NaN
Freq: 30T, dtype: float64

# Tutorial 20 - Shifting Lagging

In [70]:
df = pd.read_csv("fb19.csv", parse_dates = ['Date'], index_col='Date')
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [71]:
df.shift(1)

             Price
Date
2017-08-15     NaN
2017-08-16  171.00
2017-08-17  170.00
2017-08-18  166.91
2017-08-21  167.41
2017-08-22  167.78
2017-08-23  169.64
2017-08-24  168.71
2017-08-25  167.74
2017-08-28  166.32

In [72]:
df['Prev Day Price'] = df['Price'].shift(1)
df

             Price  Prev Day Price
Date
2017-08-15  171.00             NaN
2017-08-16  170.00          171.00
2017-08-17  166.91          170.00
2017-08-18  167.41          166.91
2017-08-21  167.78          167.41
2017-08-22  169.64          167.78
2017-08-23  168.71          169.64
2017-08-24  167.74          168.71
2017-08-25  166.32          167.74
2017-08-28  167.24          166.32

In [73]:
df['1 day change'] = df['Price'] - df['Prev Day Price']
df

             Price  Prev Day Price  1 day change
Date
2017-08-15  171.00             NaN           NaN
2017-08-16  170.00          171.00         -1.00
2017-08-17  166.91          170.00         -3.09
2017-08-18  167.41          166.91          0.50
2017-08-21  167.78          167.41          0.37
2017-08-22  169.64          167.78          1.86
2017-08-23  168.71          169.64         -0.93
2017-08-24  167.74          168.71         -0.97
2017-08-25  166.32          167.74         -1.42
2017-08-28  167.24          166.32          0.92

In [74]:
df['5 day % return'] = (df['Price'] - df['Price'].shift(5))*100/df['Price'].shift(5)
df

             Price  Prev Day Price  1 day change  5 day % return
Date
2017-08-15  171.00             NaN           NaN             NaN
2017-08-16  170.00          171.00         -1.00             NaN
2017-08-17  166.91          170.00         -3.09             NaN
2017-08-18  167.41          166.91          0.50             NaN
2017-08-21  167.78          167.41          0.37             NaN
2017-08-22  169.64          167.78          1.86       -0.795322
2017-08-23  168.71          169.64         -0.93       -0.758824
2017-08-24  167.74          168.71         -0.97        0.497274
2017-08-25  166.32          167.74         -1.42       -0.651096
2017-08-28  167.24          166.32          0.92       -0.321850

In [75]:
df  = df[['Price']]
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [76]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [77]:
df.index = pd.date_range(start='2017-08-15', periods=10, freq='B')
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [78]:
df.tshift(1)

             Price
2017-08-16  171.00
2017-08-17  170.00
2017-08-18  166.91
2017-08-21  167.41
2017-08-22  167.78
2017-08-23  169.64
2017-08-24  168.71
2017-08-25  167.74
2017-08-28  166.32
2017-08-29  167.24