In [1]:
println("start")

Intitializing Scala interpreter ...

Spark Web UI available at http://LAPTOP-D4GN0MQF:4050
SparkContext available as 'sc' (version = 2.3.0, master = local[*], app id = local-1564583705191)
SparkSession available as 'spark'

start

In [2]:
val a = Seq(
            ("10", "MILLER", "1300", "2017-11-03"),
            ("30", "Martin", "1250", "2017-11-21")
           ).toDF("dept_no","emp_name","sal","date")

a: org.apache.spark.sql.DataFrame = [dept_no: string, emp_name: string ... 2 more fields]

In [3]:
a.show

+-------+--------+----+----------+
|dept_no|emp_name| sal|      date|
+-------+--------+----+----------+
|     10|  MILLER|1300|2017-11-03|
|     30|  Martin|1250|2017-11-21|
+-------+--------+----+----------+

In [4]:
val lst = List("10", "Susan").toDF

lst: org.apache.spark.sql.DataFrame = [value: string]

In [6]:
import org.apache.spark.sql.Row

import org.apache.spark.sql.Row

In [7]:
val data = a.rdd.zip(lst.rdd).map { case (l, r) => Row.fromSeq(l.toSeq ++ r.toSeq) }
import org.apache.spark.sql.types.StructType
val schema = StructType(a.schema.fields ++ lst.schema.fields)
val solution = spark.createDataFrame(data, schema)

solution: org.apache.spark.sql.DataFrame = [dept_no: string, emp_name: string ... 3 more fields]

In [8]:
solution.show

+-------+--------+----+----------+-----+
|dept_no|emp_name| sal|      date|value|
+-------+--------+----+----------+-----+
|     10|  MILLER|1300|2017-11-03|   10|
|     30|  Martin|1250|2017-11-21|Susan|
+-------+--------+----+----------+-----+