In [1]:
println("start")

Intitializing Scala interpreter ...

Spark Web UI available at http://LAPTOP-D4GN0MQF:4041
SparkContext available as 'sc' (version = 2.3.0, master = local[*], app id = local-1565714206185)
SparkSession available as 'spark'

start

In [2]:
import org.apache.spark.sql.{DataFrame, SparkSession}
import org.apache.spark.sql.functions._
import org.apache.spark.sql.expressions.Window
import spark.implicits._

import org.apache.spark.sql.{DataFrame, SparkSession}
import org.apache.spark.sql.functions._
import org.apache.spark.sql.expressions.Window
import spark.implicits._

In [3]:
val example_df = Seq(
("id_1", "20190601", "title_1", "junin",         "yes"),
("id_1", "20190601", "title_1", "rivadavia",     "yes"),
("id_1", "20190602", "title_1", "caleta olivia", "no"),
("id_1", "20190603", "title_1", "ensenada",      "yes"),
("id_1", "20190604", "title_1", "junin",         "no"),
("id_1", "20190605", "title_1", "rivadavia",     "yes"),
("id_1", "20190606", "title_2", "caleta olivia", "no"),
("id_1", "20190607", "title_2", "ensenada",      "yes"),
("id_1", "20190608", "title_2", "junin",         "yes"),
("id_1", "20190609", "title_2", "rivadavia",     "yes"),
("id_1", "20190610", "title_2", "caleta olivia", "no"),
("id_2", "20190601", "title_1", "ensenada",      "yes"),
("id_2", "20190602", "title_1", "junin",         "no"),
("id_2", "20190603", "title_1", "rivadavia",     "yes"),
("id_2", "20190604", "title_1", "caleta olivia", "no"),
("id_2", "20190605", "title_1", "ensenada",      "yes"),
("id_2", "20190606", "title_1", "junin",         "yes"),
("id_2", "20190607", "title_2", "rivadavia",     "yes"),
("id_2", "20190608", "title_2", "caleta olivia", "no"),
("id_2", "20190609", "title_2", "ensenada",      "yes"),
("id_2", "20190610", "title_2", "junin",         "no"),
("id_3", "20190601", "title_2", "rivadavia",     "yes"),
("id_3", "20190602", "title_2", "caleta olivia", "no"),
("id_3", "20190603", "title_2", "ensenada",      "yes"),
("id_3", "20190604", "title_2", "junin",         "yes"),
("id_3", "20190605", "title_2", "rivadavia",     "yes"),
("id_3", "20190606", "title_1", "caleta olivia", "no"),
("id_3", "20190607", "title_1", "ensenada",      "yes"),
("id_3", "20190608", "title_1", "junin",         "no"),
("id_3", "20190609", "title_1", "rivadavia",     "yes"),
("id_3", "20190610", "title_2", "caleta olivia", "no"),
("id_4", "20190601", "title_1", "ensenada",      "yes"),
("id_4", "20190602", "title_1", "junin",         "yes"),
("id_4", "20190603", "title_1", "rivadavia",     "yes"),
("id_4", "20190604", "title_2", "caleta olivia", "no"),
("id_4", "20190605", "title_2", "ensenada",      "yes"),
("id_4", "20190606", "title_2", "junin",         "no"),
("id_4", "20190607", "title_2", "rivadavia",     "yes"),
("id_4", "20190608", "title_1", "caleta olivia", "no"),
("id_4", "20190609", "title_1", "ensenada",      "yes"),
("id_4", "20190610", "title_1", "junin",         "yes"),
("id_5", "20190601", "title_1", "rivadavia",     "yes"),
("id_5", "20190602", "title_2", "caleta olivia", "no"),
("id_5", "20190603", "title_2", "ensenada",      "yes"),
("id_5", "20190604", "title_2", "junin",         "no"),
("id_5", "20190605", "title_2", "rivadavia",     "yes"),
("id_5", "20190606", "title_2", "caleta olivia", "no"),
("id_5", "20190607", "title_2", "ensenada",      "yes"),
("id_5", "20190608", "title_1", "junin",         "yes"),
("id_5", "20190609", "title_1", "rivadavia",     "yes"),
("id_5", "20190610", "title_1", "caleta olivia", "no")
).toDF("id", "datetrack", "title", "address_city", "oficial_store")

example_df: org.apache.spark.sql.DataFrame = [id: string, datetrack: string ... 3 more fields]

In [4]:
example_df.show

+----+---------+-------+-------------+-------------+
|  id|datetrack|  title| address_city|oficial_store|
+----+---------+-------+-------------+-------------+
|id_1| 20190601|title_1|        junin|          yes|
|id_1| 20190601|title_1|    rivadavia|          yes|
|id_1| 20190602|title_1|caleta olivia|           no|
|id_1| 20190603|title_1|     ensenada|          yes|
|id_1| 20190604|title_1|        junin|           no|
|id_1| 20190605|title_1|    rivadavia|          yes|
|id_1| 20190606|title_2|caleta olivia|           no|
|id_1| 20190607|title_2|     ensenada|          yes|
|id_1| 20190608|title_2|        junin|          yes|
|id_1| 20190609|title_2|    rivadavia|          yes|
|id_1| 20190610|title_2|caleta olivia|           no|
|id_2| 20190601|title_1|     ensenada|          yes|
|id_2| 20190602|title_1|        junin|           no|
|id_2| 20190603|title_1|    rivadavia|          yes|
|id_2| 20190604|title_1|caleta olivia|           no|
|id_2| 20190605|title_1|     ensenada|          yes|
|id_2| 20190606|title_1|        junin|          yes|
|id_2| 20190607|title_2|    rivadavia|          yes|
|id_2| 20190608|title_2|caleta olivia|           no|
|id_2| 20190609|title_2|     ensenada|          yes|
+----+---------+-------+-------------+-------------+
only showing top 20 rows

In [5]:
example_df.groupBy("id").count().orderBy("id").show

+----+-----+
|  id|count|
+----+-----+
|id_1|   11|
|id_2|   10|
|id_3|   10|
|id_4|   10|
|id_5|   10|
+----+-----+

In [6]:
val test_df = example_df

test_df: org.apache.spark.sql.DataFrame = [id: string, datetrack: string ... 3 more fields]

In [7]:
test_df.show

+----+---------+-------+-------------+-------------+
|  id|datetrack|  title| address_city|oficial_store|
+----+---------+-------+-------------+-------------+
|id_1| 20190601|title_1|        junin|          yes|
|id_1| 20190601|title_1|    rivadavia|          yes|
|id_1| 20190602|title_1|caleta olivia|           no|
|id_1| 20190603|title_1|     ensenada|          yes|
|id_1| 20190604|title_1|        junin|           no|
|id_1| 20190605|title_1|    rivadavia|          yes|
|id_1| 20190606|title_2|caleta olivia|           no|
|id_1| 20190607|title_2|     ensenada|          yes|
|id_1| 20190608|title_2|        junin|          yes|
|id_1| 20190609|title_2|    rivadavia|          yes|
|id_1| 20190610|title_2|caleta olivia|           no|
|id_2| 20190601|title_1|     ensenada|          yes|
|id_2| 20190602|title_1|        junin|           no|
|id_2| 20190603|title_1|    rivadavia|          yes|
|id_2| 20190604|title_1|caleta olivia|           no|
|id_2| 20190605|title_1|     ensenada|          yes|
|id_2| 20190606|title_1|        junin|          yes|
|id_2| 20190607|title_2|    rivadavia|          yes|
|id_2| 20190608|title_2|caleta olivia|           no|
|id_2| 20190609|title_2|     ensenada|          yes|
+----+---------+-------+-------------+-------------+
only showing top 20 rows

In [8]:
val grouped_id = example_df.groupBy("id", "title").count()
grouped_id.orderBy("id").orderBy("id", "title").show

+----+-------+-----+
|  id|  title|count|
+----+-------+-----+
|id_1|title_1|    6|
|id_1|title_2|    5|
|id_2|title_1|    6|
|id_2|title_2|    4|
|id_3|title_1|    4|
|id_3|title_2|    6|
|id_4|title_1|    6|
|id_4|title_2|    4|
|id_5|title_1|    4|
|id_5|title_2|    6|
+----+-------+-----+

grouped_id: org.apache.spark.sql.DataFrame = [id: string, title: string ... 1 more field]

In [21]:
val window = Window.partitionBy("id").orderBy(desc("count"))
val order_df = grouped_id.withColumn("order", row_number().over(window))

window: org.apache.spark.sql.expressions.WindowSpec = org.apache.spark.sql.expressions.WindowSpec@15d23413
order_df: org.apache.spark.sql.DataFrame = [id: string, title: string ... 2 more fields]

In [23]:
order_df.orderBy("id", "title").show

+----+-------+-----+-----+
|  id|  title|count|order|
+----+-------+-----+-----+
|id_1|title_1|    6|    2|
|id_1|title_2|    5|    1|
|id_2|title_1|    6|    1|
|id_2|title_2|    4|    2|
|id_3|title_1|    4|    2|
|id_3|title_2|    6|    1|
|id_4|title_1|    6|    2|
|id_4|title_2|    4|    1|
|id_5|title_1|    4|    2|
|id_5|title_2|    6|    1|
+----+-------+-----+-----+